
#cover {
	background-color: white;
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	
}
.coverheart {
	background: url(coverheart.svg) no-repeat;
	width: 40vmin;
	height: 30vmin;
	z-index: 10;
}
.svglarge {
	width: 14vmin;
}
#form {
	background: white;
	
	border-width : 0px;
	border-radius: 12px 12px 0 0px;
	-moz-border-radius: 12px 12px 0 0px;
	-webkit-border-radius: 12px 12px 0 0px;
}
#form2 {
	border-width : 0px;
	border-radius: 0 0 12px 12px;
	-moz-border-radius: 0 0 12px 12px;
	-webkit-border-radius: 0 0 12px 12px;
}
.coverfont {
	font-family: Kozuka Gothic Pr6N;
	font-size: 4vmin;
	font-weight: 300;
	letter-spacing: 0.8px;
}
.coverfontsmall {
	font-family: Kozuka Gothic Pr6N;
	font-size: 3vmin;
	font-weight: 500;
	letter-spacing: 0.8px;
}
.coverfontb {
	font-family: Kozuka Gothic Pr6N;
	font-size: 2.2vmin;
	font-weight: 400;
	letter-spacing: 0.8px;
}
/* HIDE RADIO */
[type=radio] { 
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border: 1px solid #FFDF6F;

}
[type=radio]:checked + h2{ 
	border: 1px solid #FFDF6F;
}
.h-60 {
	height: 60%;
}
.h-70 {
	height 70%;
}
.h-75 {
	height: 75%;
}
.h-80 {
	height: 80%;
}
.hidden {
	display: none;
}
body {
	background: url("bg.svg");
	background-size: 100vw 100vh;
	background-color: none;
}

.titleBorder {
	background: #FFFABE;
	background: rgba(255, 250, 190, 0.5);
	border-style: Solid;
	border-color: #F1B31C;
	border-color: rgba(241, 179, 28, 1);
	border-width: 2px;


	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.titleInnerBorder {
	background: #FFFABE;
	background: rgba(255, 250, 190, 0);
	border-style: Solid;
	border-color: #F1B31C;
	border-color: rgba(241, 179, 28, 1);
	border-width: 3px;


	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

.title {
	
	color: #A13F22;
	color: rgb(161, 63, 34);
	opacity: 1;
	z-index: 5;
}

.font {
	font-family: Kozuka Gothic Pr6N;
	font-size: 4vmin;
	font-weight: 400;
	letter-spacing: 0.8px;
}
.smallfont {
	font-family: Kozuka Gothic Pr6N;
	font-size: 3vmin;
	font-weight: 500;
	letter-spacing: 0.8px;
}
.demofont {
	font-family: Kozuka Gothic Pr6N;
	font-size: 5vmin;
	font-weight: 500;
	letter-spacing: 0.8px;
/*	text-decoration: underline;*/
}
.hrnum {
	font-size: 20vmin;
}
.hrnumsup{
	font-size: 6vmin;
}
.bpm {
	background: url("hbpm.svg") no-repeat;
	
	width: 40vw;
	max-width: 60.4vmin;
	height: auto;
/*
	width: 60.4vmin;
	height: 58vmin;
*/
	z-index: 10;
}
.stripe {
	height: 4vmin;
	background : #8ED6EA;
  	background : rgba(142, 214, 234, 1);
}
.hgraph {
	background : #FFFFFF;
/*	background : #1E0F2F;*/
  background : rgba(255,255,255, 1);
/*  background : rgba(30, 15, 47, 1);*/
  border-style : Solid;
  border-color : #1E0F2F;
/*  border-color : #FFFFFF;*/
  border-color : rgba(30, 15, 47, 1);
/*  border-color : rgba(255, 255, 255, 1);*/
  border-width : 2.5vmin;
	border-radius : 5vmin;
  -moz-border-radius : 5vmin;
  -webkit-border-radius : 5vmin;
	
	width: 50vmax;
	max-width: 80vw;
	height: 40vmin;
	z-index: 0;
}
@page {size:A5 landscape}

@media print {
	body {
	background: url("bg.svg");
	background-size: 100vw 100vh;
	background-color: none;
	}
	#print {
		display: none;
	}
}

